.card {
  width: 200px;
  margin: 5px;
  background-color: white;
  text-decoration: none;
  border: 6px solid white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

  img {
    height: 173px;
    display: block;
    padding: 15px 15px 0 15px;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    color: #3B4CCA;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #EBEDFA;
  }
}

.card:hover {
  border-color: #FFEF80;
}
