.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 350px;
  width: 55%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 15vh 0 10vh 0;

  h2 {
    margin: 30px 0 15px 0;
    font-weight: 600;
    color: #3B4CCA;
  }
  
  form {
    text-align: center;
  }

  input {
    display: block;
    margin: 15px 0;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 8px;
    width: 250px;
    font-size: 13px;
    color: #212121;
  }

  input:focus {
    border-color: #6270D5;
  }

  p {
    color: #F20D0D;
    font-size: 13px;
  }

  button {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #3B4CCA;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover {
    background-color: #6270D5;
  }
}

.link {
  text-decoration: none;
  margin: 15px 0 30px 0;
  font-size: 13px;
  color: #757575;
}

.link:hover {
  text-decoration: underline;
}
