.comment {
  background-color: white;
  width: 100%;
  max-width: 800px;
  margin: 5px 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  // display: flex;
  // justify-content: space-between;
}

.name {
  display: flex;
  justify-content: space-between;
  height: 30px;
  
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #3B4CCA;
    display: inline-block;
  }

  button {
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    background-color: #3B4CCA;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover {
    background-color: #6270D5;
  }
}

.content {
  color: #424242;
  font-size: 14px;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  padding: 12px 14px;
  overflow-wrap: break-word;
  margin: 15px 0;
}

.date {
  font-size: 13px;
  color: #9DA6E5;
}
