.edit {
  // background-color: red;

  form {
    text-align: right;
  }

  textarea {
    display: block;
    resize: vertical;
    height: 54px;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    font-size: 13px;
    color: #212121;
  }

  textarea:focus {
    border-color: #6270D5;
  }

  button {
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
  }
}

.save {
  background-color: #6270D5;
  margin-right: 10px;
}

.save:hover {
  background-color: #3B4CCA;
}

.delete {
  background-color: #FF4D4D;
}

.delete:hover {
  background-color: #FF1A1A;
}
