header {
  background-color: #FF4D4D;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

main {
  width: 100%;
  max-width: 1060px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
